<!--api list page-->
{% extends 'home/dashboard/index.html' %}

{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4">All Category</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'home_page:dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">API Category</li>

    </ol>
    <button class=" btn btn-primary float-end" style="margin-top: -55px;width: 130px;border-radius: 5px;">
        <a class="text-white text-decoration-none" href="{% url 'home_page:add_category' %}">Add Category</a>
    </button>


    <div class="card mb-4">
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Created On</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Created On</th>
                    <th>Action</th>
                </tr>

                </tfoot>
                <tbody>
                {% for obj in object_list %}
                <tr>
                    <td>{{obj.category_name}}</td>
                    <td>{{obj.created_at}}</td>
                    <td class="justify-content-center">
                        <button class="btn btn-primary float-end mx-1">
                            <a href="{% url 'home_page:cat_update' pk=obj.id %}" class="text-white text-decoration-none">Edit</a>
                        </button>
                        <button class="btn btn-success float-end  mx-1" >View</button>
                        <button class="btn btn-danger float-end  mx-1">
                            <a href="{% url 'home_page:cat_del' pk=obj.id %}" class="text-white text-decoration-none">Del</a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}