<!--header html-->
<!--<div class="container-fluid">-->
<header id="masthead" class="site-header mt-3">
    <div class="site-header__content">

        <div class="site-branding">
            <p class="site-title u-h1"><a href="#" rel="home">API</a></p>
        </div>
        <nav id="site-navigation" class="main-navigation nav--toggle-sub nav--toggle-small" aria-label="Main menu">

            <div class="primary-menu-container">
                <ul id="primary-menu" class="menu">
                    <li id="menu-item-774"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-774">
                        <a href="#">Snippet API</a>
                    </li>
                    <li id="menu-item-779"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-779"><a
                            href="#">Browser API</a></li>
                    <li id="menu-item-938"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-938">
<!--                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-938">-->
<!--                        <a href="#" aria-current="page">Add API</a></li>-->
                        <a href="#" >Add API</a></li>
                    <li id="menu-item-993"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-993">
                        <a>Help Center</a>
                    </li>
<!--                    <li id="menu-item-782"-->
<!--                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-782"><a-->
<!--                            href="#">Blog</a>-->
<!--                    </li>-->
                    <li id="menu-item-780"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-780 logged-out-menu-item">
                        <a href="#">Login</a>
                    </li>
                </ul>
            </div>
        </nav><!-- #site-navigation -->

    </div>
</header>
<!--</div>-->





